@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

html {
  --color-1: #F7F8F5; 
  --color-3: #000;
  --gap-s: 0.625rem;
  --gap: 1.25rem;
}

body {
  font-family: "Sora", Sans-serif;
  margin: 0;
  background: var(--color-1);
}

a {
 text-decoration: none;
 color: var(--color-3);
}


